/* common styles */
@import './assets/styles/colors.scss';

/* components styles */
@import './components/card-container/style.scss';
@import './components/card-piece/style.scss';

html,
body {
  height: 100%;
  margin: 0;
  min-width: 520px;
  padding: 0;
  width: 100%;
}

#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
