$kb: url('../view/assets/images/kb.jpg');
$sc: url('../view/assets/images/sc.jpg');
$dc: url('../view/assets/images/dc.jpg');
$ga: url('../view/assets/images/ga.jpg');
$kd: url('../view/assets/images/kd.jpg');
$ki: url('../view/assets/images/ki.jpg');
$kl: url('../view/assets/images/kl.jpg');
$lbj: url('../view/assets/images/lbj.jpg');